body, html{
    padding: 0px;
    margin: 0px;
    background-color: white;
    height: 100%;
    scroll-behavior: smooth;
}
#header {
    /* width: 1024px; */
    background-color:#993B2C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}
.nav-menu {
    /* background-color: green; */
    width: 1024px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    width: 1024px;
    display: flex;
    justify-content: space-evenly;
}
ul li a{
    text-decoration: none;
    color: #f7f7f7;
    font-size: larger;
}

ul li a:hover{
    text-decoration: underline;
}
#div-logo {
    background-image: url("../images/THREE\ FRIENDS.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 30%;
    background-color: #993B2C;
  
    margin-left: 100px;
}
#section-about {
    height: 750px;
    background-image: url("../images/sunset.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-color: aqua; */
     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-color: #0005;
    background-blend-mode: darken; */
}
#about p {
    font-size: 50px;
    color: white;
    font-weight: bolder;
    margin-top: 0%;
}

#div-personal {
    background-color: #F5E9E2;
    width: 1024px;
    height: 470px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 3px 3px 3px 3px rgba(0, 0,0,.5);
    border-radius: 15px 50px;
    padding-bottom: 30px;
}

#personal-image {
    height: 400px !important;
    width: 40%;
    background-image: url("../images/friends\ facing\ the\ sun.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* border-radius: 50%; */
    margin-left: 20px;
    margin-top: auto;
    border-radius: 15px 50px;

}

#personal-info {
    padding-top: 0px;
    height: 70%;
    width: 50%;
    /* background-color: #f7f7f7; */
    text-align: justify;
    text-justify: inter-word;
    color: #7a766c;
    font-size: large;
    margin-right: 20px;
    
}
#section-services {
    height: 1300px;
    /* background-image: url("../images/leaves.png"); */
    background-color: #E3B5A4;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#section-services h1 {
    margin-top: 0%;
    font-size: 50px;
    color: white;

}
#services-first {
    width: 1024px;
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
#div-services-uno {
    background-color: #dce3f5;
    width: 50%;
    height: 100%;

    /* display: flex;
    justify-content: space-around;
    align-items: center; */

    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0,0,.5);
    margin: 5px;
}
#image-SD {
    height: 60%;
    width: 90%;
    background-image: url("../images/sd.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px 15px;
    margin: 10px auto;
}

#SD-info {
    margin-right: 20px;
    margin-left: 20px;
    text-align: justify;
    text-justify: inter-word;
}
#read-more {
    margin-top: 35px;
}
.input-read:hover{
    cursor: pointer;
}
#div-services-dos {
    background-color: #9B4B1B;
    width: 50%;
    height: 100%;

    /* display: flex;
    justify-content: space-around;
    align-items: center; */

    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0,0,.5);

    margin: 5px;
}
#image-retreat {
    height: 60%;
    width: 90%;
    background-image: url("../images/retreats.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px 15px;
    margin: 10px auto;
}
#retreat-info {
    margin-right: 20px;
    margin-left: 20px;
    text-align: justify;
    text-justify: inter-word;
}

#services-second {
    height: 400px;
    margin-top: 10px;

}
#div-services-tres {
    background-color: #8D91C7;
    width: 1024px;
    height: 400px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0,0,.5);
}
#image-training {
    height: 80%;
    width: 45%;
    background-image: url("../images/training.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 25px !important;
    border-radius: 15px 15px;
}
#training-info {
    margin-right: 20px;
    margin-left: 20px;
    width: 50%;
    text-align: justify;
    text-justify: inter-word;
}
#section-portfolio {
    height: 1100px;
    background-color: #FF8C61;
    /* background-image: url("../images/tree.png"); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}
#section-portfolio h1 {
    margin-top: 30px;
    font-size: 50px;
    color: white;

}
#section-portfolio div.div-flex {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 25px;
    background-color: #BFD7EA;
    width: 1024px;
    height: 450px;
    border-radius: 15px 15px;
    margin-top: 0px;
}
#section-portfolio div.div-flex div img {
    width: 475px;
    height: 350px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0,0,.5);
    border-radius: 15px 15px;
    /* margin-left: auto;
    margin-right: auto; */
}
#malaysia {
    margin-left: 10px;
}

/* #section-portfolio div.div-flex div img:hover { 
    box-shadow: 2px 2px 10px 10px rgba(0, 0,0,.8);
    cursor: pointer;
    width: 210px;
    height: 210px;
    transition: 1s;
} */

#section-affiliates {
    height: 1000px;
    background-color:#656365;
    background-image: url(../images/flower.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#section-affiliates h1 {
    margin-top: 40px;
    font-size: 50px;
    color: white;
}
#div-affiliate {
    width: 1024px;
    height: 900px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#div-user-info-one {
    background-color: white;
    height: 780px;
    width: 50%;

    background-color: #0005;
    background-blend-mode: darken;

    border-radius: 15px 50px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0,0,.5);
    text-align: justify;
    text-justify: inter-word;
    margin-right: 5px;
    color: white;
}
#div-user-info-two {
    background-color: white;
    height: 780px;
    width: 50%;

    background-color: #0005;
    background-blend-mode: darken;

    border-radius: 15px 50px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0,0,.5);

    /* margin-right: 20px;
    margin-left: 20px; */
    text-align: justify;
    text-justify: inter-word;
    color: white;
}
#div-user-info-one img {
    width: 250px;
    height: 250px;
    background-size: cover;
    border-radius: 50%;
}
#div-user-info-two img {
    width: 250px;
    height: 250px;
    background-size: cover;
    border-radius: 50%;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
  }

 .name {
    text-align: center !important;
}
.words {
    /* background-color: white; */
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.booking {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer {
    
    background-color:#993B2C;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#section-contact{
    width: 1024px !important;
    height: 450px;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newsletter-form {
    width: 950px;
    background-color: #fff;
    display: block;
    padding: 20px;
    /* margin-top: 15px;
    margin-left: auto;
    margin-right: auto; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.newsletter-form h2 {
    color: #333;
}

.newsletter-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.newsletter-submit {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: #993B2C;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.newsletter-submit:hover {
    background-color: #993B2C;
}
.flex-div {
    width: 1024px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    /* background-color: #EFBDEB; */
}

#trademark {
    margin-top: 30px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 100px;
}
#icons {
    /* background-color: #ccc; */
    margin-top: 0px;
    margin-right: 20px;
}
#mobile {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 100px;
}
/* #icons {
    margin-top: 30px;
    text-align: center;
    font-size: large;
} */